/* Put your css in here */
chart{
margin-left:20px;
margin-right:200px;
display:block;
}
.energycontainer{
position:absolute;
top:500px;
right:20px;
border:1px solid red;
}
.energy{
position:absolute;
bottom:0px;
right:20px;
width:50px;
height:500px;
background-color:lime;
border:1px solid black;
}
.energybox{
position:absolute;
bottom:0px;
right:20px;
width:50px;
height:200px;
background-color:none;
border:1px solid black;
}
.config{
width:500px;
margin-left:20px;
}
.table{
background-color:#efefef;
}
.table td{
background-color:white;
padding:2px;
}
.table th{
background-color:#efefef;
}
pie{
display:inline-block;
}
