/* Put your css in here */
chart{
margin-left:20px;
margin-right:200px;
display:block;
}
.energycontainer{
position:absolute;
top:500px;
right:20px;
border:1px solid red;
}
.energy{
position:absolute;
bottom:0px;
right:20px;
width:50px;
height:800px;
background-color:lime;
border:1px solid black;
}
.energybox{
position:absolute;
bottom:0px;
right:20px;
width:50px;
height:200px;
background-color:none;
border:1px solid black;
}
.config{
margin-left:20px;
}
.config input{
width:50px;
}
.table{
background-color:#efefef;
}
.table td{
background-color:white;
padding:2px;
}
.table th{
background-color:#efefef;
}
pie{
display:inline-block;
}

md-tabs{
margin-right:300px;
}

hydrostorage{
position:absolute;
top:200px;
right:20px;
}
.outer{
border:1px solid lightblue;
min-width:50px;
min-height:250px;
position:relative;
}

.inner{
position:absolute;
border-top:2px dotted white;
background-color:lightblue;
min-width:100px;
//min-height:75%;
bottom:0px;
}

electrolysis {
position:absolute;
top:200px;
right:150px;
width:100px;
}

.loading{
position:absolute;
top:20px;
left:450px;
font-size:20px;
z-index:10;
color:#d0d0d0;
}

delta{
margin-left:80px;
display:block;
}
